/* div{
    display: flex;
    width: 100vw;
     justify-content: center;
    justify-content: space-around;
    justify-content: space-between;

}

img{
    width: 400px ;
    height: 200px;
    margin: 100px;
    padding: 1rem;
		margin: 0 0 0.5rem 1rem;
		border-radius: 3px;
		border: 5px solid #0e0e0e;
    
} */

.header-for-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: beige;
    height: 10vh;
    
}

.pages{
    display: flex;
    justify-content: center;
}



p , h3{
    margin: 20px;
}