.adidas-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: -10px;
    width: full;
    background-color: rgb(255, 255, 255);
}

.adidas-logo > img{
    height: 50%;
    width: 70px;
    margin-left: 70px;
    
}

.adidas-categories > a{
    margin: 10px;
    font-weight: 700;
}
