body{
    background-color: darkgray;
    
}

.FlexItem {
    border: 1px solid #ebebeb;
    background-color: #34005b;
    display: flex;
    height: 100px;
        
  }

  .FlexOne {
    flex: 1.5 0 50px;
    color: white;
    padding: 10px;
  }
  .FlexTwo,
  .FlexThree {
    flex: 1 0 150px;
    color: white;
    padding: 10px;
  }