.Menu {
    background-color: indigo;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    min-height: 2.75rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 1rem;
  }

  .ListItem,
  .LastItem {
    color: #fdfafa;
    text-decoration: none;
  }

  .ListItem {
    margin-right: 1rem;
  }

  .LastItem {
    margin-right: auto;
  }

  .Menu {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 1200px) {
    .Menu {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1000px;
      margin: 0 auto;
    }
  }